@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
  dark grey: #121212
  ghost white: #F8F8FF
*/

strong {
  color: #E78F81;
  text-shadow: #12121280 1em 0.1em;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Montserrat;
  background-color: #B7E0FF;
  color: #121212;
  font-size: 1.2rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.headpage {
  position: relative;
  width: 100%;
  height: 85vh;
}
nav {
  background-color: #FFF5CD;
  width: 100%;
  height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headpage img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: brightness(50%);
}

.headpage .content-spacing {
  position: absolute;
  left: 20%;
  right: 30%;
  top: 25%;
}

.headpage .content-box {
  color: #F8F8FF;
}
.headpage .content-box h1 {
  font-size: 4em;
  margin-bottom: 1em;
}
@media screen and (max-width: 740px){
  .headpage .content-box h1 {
    font-size: 2em;
    margin-bottom: 0.7em;
  }
  .headpage .content-spacing{
    left: 10%;
    right: 10%;
    top: 35%;
  }
}
.headpage .content-box p {
  max-width: 500px;
}

.briefing {
  display: flex;
  width: 100%;
  padding: 80px 0;
  padding-bottom: 40px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.briefing div {
  width: 400px;
  margin-bottom: 40px;
}

.char, .his, .value, .action {
  height: fit-content;
  width: 100%;
  padding: 80px 12%;
  padding-top: 40px;
}

.char,
.value,
.comp,
.list-img {
  background-color: #FFF5CD;
}

.char h2, .his h3 {
  margin-bottom: 40px;
}

.char .content-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px;
}

.char .content-box .content:nth-child(odd){
  background-color: #E78F81;
  border-color: #8f4b40;
}
.char .content-box .content:nth-child(even) {
  background-color: #FFCFB3;
  border-color: #a87c62;
}

.char .content {
  width: 300px;
  border: solid 3px;
  border-radius: 20px;
  padding: 10px;
}

.char h3 {
  margin-bottom: 20px;
}

.char h2 {
  text-align: center;
}

.his .content-box {
  padding: 0  100px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-content: center;
  gap: 40px;
}

.his .content-box div {
  width: 500px;
}

.his .content-box img{
  width: 500px;
}

@media screen and (max-width: 800px) {
  .his .content-box {
    padding: 0;
  }
  .his .content-box img{
    width: 100%;
  }
  .his .content-box div {
    width: 100%;
  }
  
}

.value h2, .action h2{
  margin-bottom: 40px;
}

.value .content-box h3 {
  text-align: center;
  margin-bottom: 30px;
}
.value .content-box {
  margin-bottom: 40px;
}

.value .content-box ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:30px
}

.value .content-box li {
  max-width: 300px;
  width: 28%;
  padding-left: 12px;
  border-left: 6px #E78F81 solid;
  border-radius: 3px;
}

.value .content-box.no1 li:nth-child(odd),
.value .content-box.no2 li:nth-child(even)  {
  border-color: aquamarine;
}

@media screen and (max-width: 740px){
  .value .content-box li {
    width: 100%;
  }
}

.action .content-box {
  align-items: center;
  padding: 20px;
}

.action .content-box.no1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom:40px;
  justify-content: space-evenly;
  align-items: center;
}

.action .content-box.no2 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.action .content-box ul {
  width: 50%;
}

.action .content-box ul h3 {
  margin-bottom: 10px;
}

.action .content-box img {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .action .content-box img{
    width: 100%;
    margin-bottom: 30px;
  }
  .action .content-box ul {
    width: 100%;
    margin-bottom: 30px;
  }
  
}

.list-img {
  width: 100%;
  padding: 10px;
  columns: 300px;
}

.list-img img {
  width: 100%;
  margin-bottom: 1em;
}

.comp{
  padding: 30px;
}

.mem {
  width: 100%;
  height: fit-content;
  position: absolute;
  top:50%;
  left:50%;
  max-width: 700px;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
}
.mem h1 {
  width: 100%;
  height: fit-content;
  text-align: center;
}
.mem .hero {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}